body {
	background-image:url(../afbeeldingen/euromast_achtergrond.jpg);
	background-color: orange;
	background-repeat: round;
	width: 950px;
	color: black;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

#kop {
	background-color: yellow;
	padding: 10px 20px 10px 40px;
	border-radius: 15px;
}

h4 {
	color: black;
	font-size: large;
}

h2 {font-family: 'Comic Sans MS', Script, cursive}

#logo {color: black;}
#title a{text-decoration: none;}
#title, #title a {color: green;}
#title a:hover {color: blue;}
#slogan {
	color: teal;
	font-size: 1.3em;
}
	
#kop-nav {
	text-align: right;
	font-style: italic;
}

#kop-nav-link a{
	color: teal;
	text-decoration: none;
}

#kop-nav-link a:hover{
	text-decoration: underline;
	color: blue;
}

.inhoud {
	background-color: #99FF66;
	min-height: 300px;
	border-radius: 15px;
	padding: 24px;
}

#tekst-inhoud {	
	padding: 24px;
	color: orange;
	font-weight: 1.1em;
	font-family: 'Ariel', Helvetica, sans-serif;
	font-size: small;
}

#nav-een {
	background-color: red;
	width: 33%;
	float: left;
	margin-right: 1px;
	border-radius:10px;
}

#nav-een a {
	color: white;
	display: block;
	font-weight: bold;
	font-size: 1.3em;
	padding: 12px;
}

#nav-een a:hover {
	color: black;
	text-decoration:none;
}

#nav-twee {
	background-color: red;
	width: 33%;
	float: left;
	margin-left: 1px;
	margin-right: 1px;
	border-radius:10px;
}

#nav-twee a { color: white;
	display: block;
	font-weight: bold;
	font-size: 1.3em;
	padding: 12px;
}

#nav-twee a:hover {
	color: black;
	text-decoration:none;
}

#nav-drie {
	background-color: red;
	width: 33%;
	float: left;
	margin-left: 1px;
	border-radius:10px;
}

#nav-drie a { color: white;
	display: block;
	font-weight: bold;
	font-size: 1.3em;
	padding: 12px;
}

#nav-drie a:hover {
	color: black;
	text-decoration:none;
}

ul.tab { 
	display: block;
	margin: 5px;
	padding: 0px 10px 0px 40px;
}

ul.tab li {
	list-style: disc;
	color: white;
}

#footer {
	background-color: blue;
	color: orange;
	padding: 10px;
	margin-top: 110px;
	border-radius: 15px;
}

.left {float: left;}
.right {text-align: right;}

.artikel {
	text-decoration: none;
	text-align: left;
}

.artikel a {color: blue;}
	
.artikel_tekst {
	font-weight: bold;
}

input { 
	background-color: #339933;
	color: orange;
}

.eerste_rij {
	color: #009900;
	background-color: #000000;
}	

.alle_rij {
	color: #000000;
	background-color: #009900;
}	
	